[Unit]
Description=Echo serv
Requires=multi-user.target
Name=pturtled
Type=simple
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/pturtled
ExecStop=killall -9 pturtled
